@media screen and (max-width: 780px){
    /* .navbar-toggler{
        visibility: visible;
    } */

    .main-wrapper{
        width: 100vw;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 1000px){
    body,main{
        overflow-x: hidden !important;
    }

    .dashboard-card{
        min-width: 180px;
    }
}

.navbar-toggler{
    visibility: visible;
}