@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;300;400;700&family=Nunito:wght@200;400;700;800&display=swap');
body{
    /* min-height: 100vh; */
    min-height: 100vh;
    background: #fafdfb;
    margin-bottom: 50px;
    font-family: 'Fira Sans', sans-serif;
}

main{
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    height: -webkit-fill-available;
    /* max-height: 100vh; */
    overflow-x: auto;
    /* overflow-y: hidden; */
}

.sidebar{
    /* width: 0; */
    transform: translateX(-100%);
    transition: all 300ms ease;
    display: none;
    /* opacity: 0; */
    position: fixed;
    height: 100%;
    /* z-index: 1; */
    overflow-y: scroll;
}

.sidebar.active{
    /* left: 0; */
    transform: translateX(0);
    width: 280px;
    z-index: 1;
    /* opacity: 1; */
}
.nested{
    padding: 0 3px;
}
.nested button{
    color: #fff;
    width: 100%;
    text-align: left;
    position: relative;
}
.nested button:hover{
    color: inherit;
}
.nested button:hover,
.nested button:active,
.nested button:focus
{
    outline: 0;
    box-shadow: none;
}

.main-wrapper{
    width: 100%;
    position: relative;
    padding-left: 290px;
    padding-right: 30px;
    padding-top: 50px;
}
.main-wrapper.active{
    padding-left: 10px;
}
.main-wrapper.active .navbar-toggler{
    left: 10px;
}
.navbar-toggler{
    position: fixed;
    top: 5px;
    left: 285px;
    background-color: #fff;
    border: 1px solid;
    visibility: hidden;
}
.chart{
    margin-bottom: 7rem;
}
button.active{
    background-color: #0d6efd;
    color: #fff;
}
.dashboard-card{
    min-width: 220px;
}
.dashboard-card .card-text{
    font-size: 22px;
    font-weight: 600;
}
.dashboard-icons{
    font-size: 50px;
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0.4;
}
.btn-toggle .dropdown-icon{
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
}
.btn-toggle.collapsed .dropdown-icon{
    transform: rotateZ(-90deg);
    transform-origin: center;
    top: 20%;
}



.btn-toggle-nav li a.active{
    background-color: rgba(255,255,255,.15) !important;
}



footer{
    /* height: 100px;
    position: relative;
    left: 280px;
    width: 80vw;
    bottom: 0; */
    position: fixed;
    bottom: 0px;
    height: 50px;
    display: flex;
    align-items: center;
    right: 0px;
    left: 280px;
    width: 100%;
    background: #fefefe;
    margin-bottom: 0px;
    padding: 0 2rem;
}
.auth-card {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}
.auth-card .card{
    max-width: 500px;
}

/* custom scroll  */

*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

*::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #666;
}



/* bootstrap overriding css  */

.form-floating>label{
    left: inherit;
}


/* ckeditor height */

.ck-editor__editable_inline {
    min-height: 160px;
}